---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  translate:
    name: Translate
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - provider: linguatools
            lang: 'en-de'
            source: Love
            expected: Liebe
            api_key: N_A # pragma: allowlist secret
          - provider: mymemory
            lang: 'en|it'
            source: Love
            expected: Love
            api_key: N_A # pragma: allowlist secret
          - provider: mymemory
            lang: 'en|pt'
            source: Love
            expected: Love
            api_key: MYMEMORY_API_KEY # pragma: allowlist secret
          - provider: funtranslations
            lang: 'klingon'
            source: Love
            expected: Parmaq
            api_key: N_A # pragma: allowlist secret
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: result
        with:
          provider: ${{ matrix.provider }}
          lang: ${{ matrix.lang }}
          source: ${{ matrix.source }}
          api_key: "${{ secrets[matrix.api_key] }}"
      - name: Validate ${{ matrix.provider }} translation result
        run: |
          echo "'${{ matrix.source }}' has been translated to '${{ steps.result.outputs.text }}'"
          [ "${{ steps.result.outputs.text }}" = "${{ matrix.expected }}" ] || exit 1;
        shell: sh
