---
name: Linting

on: # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  js-lint:
    name: JS Lint
    uses: fabasoad/reusable-workflows/.github/workflows/wf-js-lint.yml@main
  pre-commit:
    name: Pre-commit
    uses: fabasoad/reusable-workflows/.github/workflows/wf-pre-commit.yml@main
    with:
      skip-hooks: "audit, build, lint, test"
