---
name: Unit Tests

on: # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - dist/**
      - src/**
      - jest.config.json
  push:
    branches:
      - main
  workflow_dispatch: {}

defaults:
  run:
    shell: sh

jobs:
  jest:
    name: Jest
    uses: fabasoad/reusable-workflows/.github/workflows/wf-js-unit-tests.yml@main
    permissions:
      contents: read
    secrets: inherit # pragma: allowlist secret
